Source: comment
Maintainer: Team Kano <dev@kano.me>
Section: x11
Priority: optional
Standards-Version: 3.9.4
Build-Depends:
    libqt5all-dev,
    kano-qt-sdk-dev

Package: comment
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    kano-qt-sdk,
    espeak
Description: Interactive application to play with Python and text-to-speech

Package: comment-dbg
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    libqt5all,
    kano-app-launcher
Description: The application built with debug symbols

Package: comment-i18n-orig
Architecture: all
Description: Data for working on translations of comment
Multi-Arch: foreign
