#!/usr/bin/make -f

#
# FIXME: libqt5all-dev package should resolve binary paths
#
QT5PATH=/usr/local/qt5/bin
export PATH := $(PATH):$(QT5PATH)

%:
	dh $@

override_dh_auto_build:
	qmake
	make
	# FIXME: Should be able to just `make debug` recursively.
	make debug

override_dh_strip:
	dh_strip --exclude=.debug
